.container{
    padding: 30px 0;
}

.container .first-title{
    margin: 0 100px;
}

/* .container ul .nav-left{
    position: relative;
    left: 160px;
} */

.container .col-sm-3{
    padding: 30px;
}
.form-group .custom-control{
    display: inline-block;
    padding: 0 40px;
}
.row {
    padding: 30px 0; 
}

.row a{
    text-decoration: none;
}

.global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.card-title {
    font-weight: 300;
}
 
.btn {
    font-size: 14px;
    margin: 0 10px;
    padding: unset;

}
 
.login-form {
    width: 330px;
    margin: 20px;
}
 
.sign-up {
    text-align: center;
    padding: 20px 0 0;
}
 
.alert {
    margin-bottom: -30px;
    font-size: 13px;
    margin-top: 20px;
}

.edit a{
    margin: 30px;
}