
<div class="container"  xmlns:th="http://www.thymeleaf.org">
	<div class="row">
      <a th:href="@{/}"><h2 class="first-title">Tin tức 24h JP</h2></a>
      
      <!-- Search form -->
      <form class="form-inline col">
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
        aria-label="Search">
        <button class="btn btn-success" type="submit" style="margin-top:0;"><i class="fas fa-search" aria-hidden="true"></i></button>
      </form>
	</div>
</div>
	