
  <ul class="pagination justify-content-center" xmlns:th="http://www.thymeleaf.or" >
    <li class="page-item">
    	<a class="page-link">&laquo;</a>
    </li>
    <li class="page-item">
    	<th:block th:each="page : ${#numbers.sequence(1, totalPage)}">
    		<a class="page-link" th:href="@{|/?page=${page}|}" th:utext="${page}"></a>
<!--     		<span class="nav-item" th:if="${page == -1}"> ... </span> -->
    	</th:block>
    </li>
    <li class="page-item">
    	<a class="page-link">&raquo;</a>
    </li>
  </ul>
